#!/usr/bin/make -f
# -*- makefile -*-
# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

# see FEATURE AREAS in dpkg-buildflags(1)
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
export DEB_LDFLAGS_MAINT_APPEND =

include /usr/share/dpkg/default.mk

PKG := $(DEB_SOURCE)
PKG_VERSION := $(DEB_VERSION_UPSTREAM)


%:
	dh $@ --with bash-completion

override_dh_auto_build:
	OBJCFLAGS="$(CFLAGS)" $(MAKE) -C XADMaster -f Makefile.linux

override_dh_auto_clean:
	$(MAKE) -C XADMaster -f Makefile.linux clean

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	XADMaster/XADTest2
	XADMaster/XADTest3
	XADMaster/XADTest4
endif


get-orig-source:
	# Uscan can grab upstream source zip
	uscan --noconf --force-download --download-current-version --destdir=.
	# Just to be safe
	rm -rf $(PKG)-$(PKG_VERSION)
	# Unpack
	unzip $(PKG)$(PKG_VERSION)_src.zip
	# Delete unnecessary folder
	rm -rf __MACOSX
	# Rename directory to a versioned way
	mv The\ Unarchiver/ $(PKG)-$(PKG_VERSION)
	# Delete zip upstream file
	rm $(PKG)$(PKG_VERSION)_src.zip
	# Delete object files
	find $(PKG)-$(PKG_VERSION) -name '*.o' -delete
	# Delete project files
	find $(PKG)-$(PKG_VERSION) -depth -type d \
		\( -name '*.lproj' -o -name '*.xcodeproj' \) \
			-exec rm -rf {} \;
	# Delete MAC OS X preferences files
	find $(PKG)-$(PKG_VERSION) -name '*.plist' -delete
	# Delete other OSs specific dirs or files
	rm -rf $(PKG)-$(PKG_VERSION)/XADMaster/Windows/ \
		$(PKG)-$(PKG_VERSION)/Dependencies \
		$(PKG)-$(PKG_VERSION)/.DS_Store \
		$(PKG)-$(PKG_VERSION)/.hgignore \
		$(PKG)-$(PKG_VERSION)/.hgtags
	find $(PKG)-$(PKG_VERSION) -name 'Makefile.windows' -delete
	find $(PKG)-$(PKG_VERSION) -depth -type d -name '__MACOSX' -exec rm -rf {} \;
	# Repacked source should have a top-level directory ending in .orig
	# as a reminder to other developers
	mv $(PKG)-$(PKG_VERSION) $(PKG)-$(PKG_VERSION).orig
	tar -cvJf ../$(PKG)_$(PKG_VERSION).orig.tar.xz --owner \
			root --group root --mode a+rX \
			$(PKG)-$(PKG_VERSION).orig
	rm -r $(PKG)-$(PKG_VERSION).orig
